*{
    font-family: Arial;
}

.flexbox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flexbox_heading{
    flex: auto;

}

#flexbox_guessCount{
    flex: auto;
}

#flexbox_guessWord{
    flex: auto;
}

#flexbox_input{
    flex-basis: 50px;

}

#flexbox_input input{
    width: 300px;
    height: 30px;
    outline: 0;
    border: solid 2px rgb(209, 209, 209);
}
#flexbox_input input:focus{
    transition: .3s;
    border-color: pink;
    box-shadow: 0 0 8px pink;
}

#flexbox_newGame{
    flex-basis: 50px;
    align-items: center;

}

#flexbox_newGame button{
    color: aliceblue;
    background-color: #007BFF;
    height: 30px;
    width: 200px;
    font-size: 15px;
    border: none;
}
#flexbox_newGame button:hover{
    transition: .3s;
    background-color: #0056B3;
}

#flexbox_guessedArea{
    text-align: center;
    width: 700px;
    border: solid 2px rgb(209, 209, 209);
}
h3 span{
    color: rgb(100, 167, 0);
}

#flexbox_guessedArea_guessedCh{
    flex: auto;
    font-size: 20px;
}
.flexbox_guessedArea_guessedCh_true{
    color: rgb(100, 167, 0);
}